<user-navbar></user-navbar>


<div class="container mt-10">
  <div class="card">
    <div class="card-body border ">
      <div class="row">

        <div class="col-md-6">
          <img src="/assets/img/car3.png">
        </div>
        <div class="col-md-6">
          <div class="col-md-6">
            <p>idVehicle</p>
            <p>licensePlateNumber</p>
            <p>brand</p>
            <p>model</p>
            <p>launchYear</p>
            <p>color</p>
            <p>mileage</p>
            <p>fuel</p>
            <p>transmissionType</p>
            <p>horsPower</p>
            <p>pricePerDay</p>
            <p>isAvailable</p>
            <p>insurance</p>
            <p>lastMaintenanceMileage</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

