
<section id="rental" class="position-relative">
  <div class="container my-5 py-5">
    <h2 class=" text-center my-5">cars for <span class="text-primary"> rental </span></h2>

    <div class="swiper-button-next rental-swiper-next  rental-arrow position-absolute"></div>
    <div class="swiper-button-prev rental-swiper-prev rental-arrow position-absolute"></div>

    <div class="swiper rental-swiper mb-5">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="row">
            <div class="col-md-4 ">
              <div class="card custom-card1  my-3 shadow">
                <a><img src="assets/img/car1.png" class="card-img-top" alt="car-img"></a>
                <div class="card-body p-4">
                  <a>
                    <h4 class="font-monospace text-black">BMW x3</h4>
                  </a>
                  <div class="card-text ">
                    <span class="iconify my-1" data-icon="bi:fuel-pump-fill"  data-width="25" data-height="25" style="color: #575757;"></span> : Essence<br>
                    <span class="iconify my-1" data-icon="material-symbols:airline-seat-recline-extra" data-width="28" data-height="28" style="color: #575757;"></span> : 5 Seats<br>
                    <span class="iconify my-1" data-icon="tabler:manual-gearbox"  data-width="26" data-height="26" style="color: #575757;"></span> : automatic<br>
                  </div>
<!--                  todo: nakhedh font men gocar mta3 lprice w nw3ya-->
                  <hr>
                  <div class="d-flex justify-content-between">
                    <h3 class="pt-2 font-monospace">99 TND<span class="rental-price">/day</span></h3>
                    <button class="btn custom-btn1-sm">Rent now</button>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card my-3">
                <a><img src="assets/img/car1.png" class="card-img-top" alt="..."></a>
                <div class="card-body p-4">
                  <a>
                    <h4 class="card-title">BMW x3</h4>
                  </a>
                  <div class="card-text ">

                    <ul class="d-flex list-unstyled">
                      <div class="col-md-6">
                        <li class="rental-list">
                          Sports
                        </li>
                        <li class="rental-list"><i class="fas fa-circle fa-xs px-2" style="color: grey"></i>
                        </li>
                        <li class="rental-list"> Auto</li>
                        <li class="rental-list"><i class="fas fa-circle fa-xs px-2" style="color: grey"></i>
                        </li>
                      </div>
                      <div class="col-md-6">

                        <li class="rental-list"> 4 Passengers</li>
                        <li class="rental-list"><i class="fas fa-circle fa-xs px-2" style="color: grey"></i>
                        </li>
                        <li class="rental-list display-small"> Diesel</li>
                      </div>

                    </ul>
                  </div>
                  <hr>
                  <div class="d-flex justify-content-between">
                    <h3 class="pt-2">369 TND <span class="rental-price">/day</span></h3>
                    <a routerLink="" class="btn btn-primary">rent now </a>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card my-3">
                <a><img src="assets/img/car1.png" class="card-img-top" alt="..."></a>
                <div class="card-body p-4">
                  <a>
                    <h4 class="card-title">BMW x3</h4>
                  </a>
                  <div class="card-text ">
                    <ul class="d-flex list-unstyled">
                      <li class="rental-list">
                        Sports
                      </li>
                      <li class="rental-list"><i class="fas fa-circle fa-xs px-2" style="color: grey"></i>
                      </li>
                      <li class="rental-list"> Auto</li>
                      <li class="rental-list"><i class="fas fa-circle fa-xs px-2" style="color: grey"></i>
                      </li>
                      <li class="rental-list"> 4 Passengers</li>
                      <li class="rental-list"><i class="fas fa-circle fa-xs px-2" style="color: grey"></i>
                      </li>
                      <li class="rental-list display-small"> Diesel</li>
                    </ul>
                  </div>
                  <hr>
                  <div class="d-flex justify-content-between">
                    <h3 class="pt-2">369 TND <span class="rental-price">/day</span></h3>
                    <a routerLink="" class="btn btn-primary">rent now </a>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card my-3">
                <a><img src="assets/img/car1.png" class="card-img-top" alt="..."></a>
                <div class="card-body p-4">
                  <a>
                    <h4 class="card-title">BMW x3</h4>
                  </a>
                  <div class="card-text ">
                    <ul class="d-flex list-unstyled">
                      <li class="rental-list">
                        Sports
                      </li>
                      <li class="rental-list"><i class="fas fa-circle fa-xs px-2" style="color: grey"></i>
                      </li>
                      <li class="rental-list"> Auto</li>
                      <li class="rental-list"><i class="fas fa-circle fa-xs px-2" style="color: grey"></i>
                      </li>
                      <li class="rental-list"> 4 Passengers</li>
                      <li class="rental-list"><i class="fas fa-circle fa-xs px-2" style="color: grey"></i>
                      </li>
                      <li class="rental-list display-small"> Diesel</li>
                    </ul>
                  </div>
                  <hr>
                  <div class="d-flex justify-content-between">
                    <h3 class="pt-2">369 TND <span class="rental-price">/day</span></h3>
                    <a routerLink="" class="btn btn-primary">rent now </a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>


      </div>

    </div>

  </div>


</section>
