<div class="container-fluid py-4 mt-2">
  <div class="row">
    <div class="col-md-8">
      <div class="card border border-2">
        <div class="card-header pb-0">
          <div class="d-flex align-items-center">
            <p class="mb-0 card-header-text1 bold">Add New Vehicle</p>
          </div>
        </div>
        <div class="card-body">


                  <button type="button" class="btn btn-secondary btn-lg btn-block"
                          (click)="generatePDF()">open Invoice</button>

        </div>
      </div>
    </div>
  </div>
</div>
